<div class="cta cta-alt">
  <div class="row">
    <div class="small-12 medium-6 medium-push-6 column">
      <h2>Featured Florist</h2>
      <p class="lead">Stephanie loves modern bouquets with traditional flowers, listens to jazz to get inspired, and is obsessed with using interesting leaves as accents.</p>
      <a href="/">See Stephanie’s work</a>
    </div>
    <div class="small-12 medium-6 medium-pull-6 column">
      <img src="http://lorempixel.com/output/people-q-c-640-480-9.jpg">
    </div>
  </div>
</div>
