<a href="#main" class="show-on-focus">Skip to main content</a>

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">F1 Florists</li>
      <li>
        <a href="#">Shop</a>
        <ul class="menu vertical">
          <li><a href="#">All</a></li>
          <li><a href="#">Featured bouquets</a></li>
          <li><a href="#">Subscriptions</a></li>
        </ul>
      </li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>
