.banner {
  position: relative;
  color: $white;

  .content {
    position: relative;
    float: none;
    z-index: 5;
    max-width: rem-calc(600);
    margin: 0 auto;
    @include padding-top-bottom($global-padding, $multiplier: 4);
  }
}

.banner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  z-index: 1;
}
